<div class="container my-4 single-student">
	<div class="row justify-content-center">
		<div class="col-md-6">
			<a class="btn btn-sm btn-info text-white py-2" href="/student">Back</a>
			<div class="card shadow">
				<div class="card-body">
					<img src="/image/student/<%= student.photo %> " alt="" />
					<h2><%= student.name %></h2>
					<h3><%= student.email %></h3>
					<h3><%= student.cell %></h3>
				</div>
			</div>
		</div>
	</div>
</div>
